body{
    background-color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-y: inherit;
    color: white;
    height: 1000px;
}

@media only screen and (max-width : 720px) {

    .navbar{
        position: fixed;
        border: 1px solid blue;
        z-index: 999999999;
        background-color: black;
        width: 100%;
        height: 55px;
        top: 0;
        left: 0;
        padding-top: 0px;
        text-align: center;
    }
    
    .brand{
        text-decoration: none;
        color: white;
    }
    
    .brand h1{
        position: relative;
        top: -25px;
        font-size: 20px;
        
    }
    .brand p{
        position: relative;
        top: -5px;
        font-size: 15px;

    }

    .utama{
        width: 100%;
        position: fixed;
        color: white;
        top: 200px;
        z-index: 9;
        height: 100%;
    }

    .kata-kiri{
        position: fixed;
        top: 300px; 
        left: 30px;
        width: 100%;
        z-index: 9; 
        font-size: 10px;
        text-align: left;
    }

    .logo{
        border-radius: 100%;
        width: 40%;
        position: fixed;
        left: 30%;
        top: 120px;
        z-index: 9;
    }

    .kedua{
        background-color: rgba(231, 229, 229, 0.945);
        color: black;
        width: 100%;
        height: 180%;
        z-index: 9999999;
        position: absolute;
        left: 0;
        top: 100%;
    }

    .visi{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.411);
        background-color: white;
        width: 80%;
        left: 7%;
        height: 300px;
        margin-right: 10px;
        margin-top: 50px;
        position: relative;
        padding: 10px;
        text-align: center;
        font-size: 15px;
    }


    .ketiga{
        background-color: rgba(51, 50, 50, 0.945);
        color: white;
        width: 100%;
        height: 95%;
        z-index: 9999999;
        position: absolute;
        left: 0;
        top: 280%;
    }

    .ketiga h1{
        text-align: center; 
        position: relative;
        top: 20px;
     }
}